RewriteEngine On 
RewriteCond $1 !^(index\.php|assets|uploads|robots\.txt|sitemap\.xml)
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /Bda/index.php/$1 [L]

